<div id="information">
  <h1>Your Information</h1>
  <div id="detail" ng-if="Info.infoIsEmpty">
    {{Info.infoExist}}
    <p>FirstName: LastName : </p>
    <p>Email address : </p>
    <p>Phone Number : </p>
    <p>Your Favourite Meal : </p>
  </div>

  <div ng-if="!(Info.infoIsEmpty)">
    <p>Sorry We have no information. I guess you haven't done sign up yet. <br> Please give me your information and
      Click
      down
      below.
    </p>
    <a ui-sref="public.signUp" class="tosignup">
      Sign Up page
    </a>
  </div>
</div>
<!-- -1 should get result of Information
-2 if the result is empty -> user should go signUp Page
-3 if the result has a Information of users -> user can see registered information. -->